/* General */
#wrapper-main {
  opacity: 1;
  overflow-x: visible;
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
          transition: opacity 0.5s;
}
#wrapper-main header .ui-btn {
  margin: 7px;
}
#wrapper-main > section > div > h2,
#wrapper-main > section > div > h4 {
  text-align: center;
}

/* Loading State */
body.loading #wrapper-main {
  opacity: 0;
}

/* Placement */
#placement-chooser {
  position: relative;
  width: 100%;
}
#placement-chooser .placement {
  position: absolute;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  opacity: 0;
}
#placement-chooser .placement:hover {
  opacity: 1;
}
#placement-chooser .placement#place-top-left {
  background: url('graphics/placement_corner-left.png') no-repeat 0 0;
  background-size: 70%;
  width: 50%;
  height: 65%;
  left: 0;
  top: 0;
}
#placement-chooser .placement#place-top-right {
  background: url('graphics/placement_corner-right.png') no-repeat 100% 0;
  background-size: 70%;
  width: 50%;
  height: 65%;
  right: 0;
  top: 0;
}
#placement-chooser .placement#place-bottom {
  background: url('graphics/placement_bottom.png') no-repeat 50% 0;
  background-size: 99%;
  height: 35%;
  width: 100%;
  bottom: 12px;
}
#placement-chooser img.backplate {
  width: 100%;
  height: auto;
  display: block;
}