#wrapper-main > section > div > h2,
#wrapper-main > section > div > h3 {
  text-align: center;
}
#placement-chooser {
  position: relative;
  width: 100%;
}
#placement-chooser .placement {
  position: absolute;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
}
#placement-chooser .placement:hover {
  background: rgba(255,255,0, 0.25);
}
#placement-chooser .placement#place-top-left {
  width: 50%;
  height: 70%;
  left: 0;
  top: 0;
}
#placement-chooser .placement#place-top-right {
  width: 50%;
  height: 70%;
  right: 0;
  top: 0;
}
#placement-chooser .placement#place-bottom {
  height: 30%;
  width: 100%;
  bottom: 0;
}
#placement-chooser img.backplate {
  width: 100%;
  height: auto;
  display: block;
}